<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="justAddedTx">
    Санал амжилттай үүслээ!
  </div>

  <h1>Хүлээгдэж буй санал хураалт</h1>
  <p>
    Энэхүү санал дараагийн блокт оруулахыг хүлээж байна. Майнинг процессыг
    эхлүүлэх үед дараагийн блок бий болно.
  </p>

  <app-transactions-table [transactions]="pendingTransactions">
  </app-transactions-table>

  <button
    class="btn btn-primary"
    *ngIf="pendingTransactions.length > 0 && miningInProgress === false"
    (click)="minePendingTransactions()"
  >
    Зөвшөөрөх
  </button>

  <div *ngIf="miningInProgress === true">Майнинг блок...</div>
</div>
