<div class="container">
	<h1>Санал өгөх</h1>
	<p>Саналаа өгнө үү!</p>

	<br>

	<div class="form-group">
	    <label for="fromAddress">Санал өгөх</label>
	    <input type="text" class="form-control" id="fromAddress" aria-describedby="fromAddressHelp" [(ngModel)]="ownWalletKey.publicKey" disabled>
	    <small id="fromAddressHelp" class="form-text text-muted">
			Энэ өмнөх саналыг баталгаажуулах хэйш юм. Үүнийг өөрчлөж болохгүй.
	    </small>
  	</div>

  	<div class="form-group">
	    <label for="toAddress">Сэтгэгдэл</label>
	    <input type="text" class="form-control" id="toAddress" aria-describedby="toAddressHelp" [(ngModel)]="newTx.toAddress">
	    <!-- <small id="toAddressHelp" class="form-text text-muted">
	    	The address of the wallet where you want to send the money to. You can type random text here (if you are not interested in recovering the funds)
	    </small> -->
  	</div>

  	<!-- <div class="form-group">
	    <label for="amount">Amount</label>
	    <input type="number" class="form-control" id="amount" aria-describedby="amountHelp" [(ngModel)]="newTx.amount">
	    <small id="amountHelp" class="form-text text-muted">
	    	You can transfer any amount. Account balance is not checked in this demo. Have at it!
	    </small>
  	</div> -->

  	<button (click)="createTransaction()" type="submit" class="btn btn-primary">Санал өгөх</button>

</div>
