<header>
  <nav class="navbar navbar-dark bg-light">
    <a class="navbar-brand" routerLink="/">
      <h3>МОНГОЛ УЛСЫН ЕРӨНХИЙЛӨГЧИЙН СОНГУУЛИЙН САНАЛ ХУРААХ СИСТЕМ</h3>
    </a>
    <div>
      <button
        routerLink="/new/vote/pending"
        class="btn btn-outline-light"
        *ngIf="thereArePendingTransactions()"
      >
        Хүлээгдэж буй санал
        <span class="badge badge-light">{{
          blockchain.pendingTransactions.length
        }}</span>
      </button>
      &nbsp;
      <!-- <button routerLink="/settings" class="btn btn-outline-light">
      Settings
    </button> -->
      <!-- &nbsp;
      <button routerLink="/new/vote" class="btn btn-outline-light">
        Санал өгөх
      </button> -->
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="text-muted text-center" style="margin-top: 150px">
  <small
    >Монгол Улсын Их Сургууль<br />
    2021 он</small
  >
</footer>
